:root {
  --bg: #e9eaff;
  --bg2: #fbfaff;
  --font: #3030a1;
  --login-bg: #e3ecfe;
}

html {
  display: flex;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  color: var(--font);
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background-color: var(--bg2);
  color: var(--font);
  padding-top: 50px;
  padding-bottom: 25px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.Typography {
  color: var(--font);
}
